<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">

</head>
<body>
<h1>All Books Information from customised template file</h1>
        {% for book in books %}
        <li>Title:<strong>{{book.title}}</strong></li>
        <li>Author:<strong>{{book.author}}</strong></li>
        <li>Pages:<strong>{{book.pages}}</strong></li>
        <li>Price:<strong>{{book.price}}</strong></li>
        <a class="btn btn-warning" href="/update/{{book.id}}">Update This book Information</a>
        <a class="btn btn-danger" href="/delete/{{book.id}}">Delete This Book Information</a>
        <a class="btn btn-primary" href="/{{book.id}}">Insert  Book Information</a>
      {% endfor %}
</body>
</html>